[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
	branch = honister
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = honister
[submodule "layers/meta-selinux"]
	path = layers/meta-selinux
	url = https://git.yoctoproject.org/meta-selinux
	branch = honister
[submodule "layers/meta-odroid"]
	path = layers/meta-odroid
	url = https://github.com/akuster/meta-odroid.git
	branch = honister
[submodule "layers/meta-security"]
	path = layers/meta-security
	url = https://git.yoctoproject.org/meta-security
	branch = honister
[submodule "layers/meta-thomux"]
	path = layers/meta-thomux
	url = git@github.com:thomux/meta-thomux.git
[submodule "layers/meta-thomux-odroid"]
	path = layers/meta-thomux-odroid
	url = git@github.com:thomux/meta-thomux-odroid.git
[submodule "layers/poky"]
	path = layers/poky
	url = git://git.yoctoproject.org/poky
	branch = honister
