downloads/**/*
sstate-cache/**/*
work/cache/**/*
work/cache
work/tmp/**/*
work/tmp
work/bitbake*
work/hashserve*
image/cache/**/*
image/cache
image/tmp/**/*
image/tmp
image/tmp*
image/bitbake*
image/hashserve*
